
@{
    ViewData["Title"] = "Locatários";
}

@section styles {
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
}

<div class="card shadow" ng-app="app" ng-controller="locatarioController">
    <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Locatarios</h6>
        <div class="dropdown no-arrow show">
            <button class="btn btn-sm btn-outline-primary" ng-click="novo()">
                <i class="fas fa-plus-circle"></i> Novo
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-sm" datatable="ng" dt-options="dtOptions">
            <thead>
                <tr>
                    <th style="width:5% !important">Cod</th>
                    <th style="width:30% !important">Nome</th>
                    <th>E-mail</th>
                    <th>CPF / CNPJ</th>
                    <th style="width:20% !important"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in locatarios">
                    <td>{{item.idLocatario}}</td>
                    <td>{{item.Nome}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.Cpf ? item.Cpf : item.Cnpj}}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button ng-click="editar(item,formLocatario)" class="btn btn-sm btn-info btn-xs"><i class="fas fa-edit"></i> Editar</button>
                            <button ng-click="remover(item.idLocatario)" class="btn btn-sm btn-danger btn-xs"><i class="fas fa-times-circle"></i> Remover</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modalLocatario">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Novo locatario</h5>

                </div>
                <form name="formLocatario" id="formLocatario" ng-submit="salvar(locatario)">
                    <div class="modal-body">

                        <div class="form-row">
                            <div class="col-6">
                                <label>Nome</label>
                                <input name="nome" required ng-model="locatario.Nome" autocomplete="off" id="nome" ng-class="!formLocatario.nome.$dirty ? 'form-control' : (formLocatario.nome.$dirty && formLocatario.nome.$valid ? 'form-control is-valid' : 'form-control is-invalid')" />
                            </div>
                            <div class="col-6">
                                <label>E-mail</label>
                                <input type="email" required ng-model="locatario.Email" autocomplete="off" name="email" id="email" class="form-control" ng-class="!formLocatario.email.$dirty ? 'form-control' : (formLocatario.email.$dirty && formLocatario.email.$valid ? 'form-control is-valid' : 'form-control is-invalid')" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-3">
                                <label>Telefone</label>
                                <input name="telefone" required mask="(99)99999-9999" mask-clean='true' ng-model="locatario.Telefone" autocomplete="off" id="telefone" class="form-control" ng-class="!formLocatario.telefone.$dirty ? 'form-control' : (formLocatario.telefone.$dirty && formLocatario.telefone.$valid ? 'form-control is-valid' : 'form-control is-invalid')" />
                            </div>
                            <div class="col-3" ng-if="tipoLocatario">
                                <label>CPF</label>
                                <input type="text" required ng-model="locatario.Cpf" autocomplete="off" mask-clean='true' mask="999.999.999-99" name="cpf" id="cpf" class="form-control" ng-class="!formLocatario.cpf.$dirty ? 'form-control' : (formLocatario.cpf.$dirty && formLocatario.cpf.$valid ? 'form-control is-valid' : 'form-control is-invalid')" />
                            </div>
                            <div class="col-4" ng-if="!tipoLocatario">
                                <label>CNPJ</label>
                                <input type="text" required ng-model="locatario.Cnpj" autocomplete="off" mask-clean='true' mask="99.999.999/9999-99" name="cnpj" id="cnpj" class="form-control" ng-class="!formLocatario.cnpj.$dirty ? 'form-control' : (formLocatario.cnpj.$dirty && formLocatario.cnpj.$valid ? 'form-control is-valid' : 'form-control is-invalid')" />
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-success"><span class="fas fa-check-circle"></span> Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-mask/ngMask.min.js"></script>
    <script src="~/app/controller/locatario.controller.js"></script>

}