
@{
    ViewData["Title"] = "Clientes";
}

<h2>@ViewData["Title"]</h2>

<div class="card shadow mb-4" ng-app="app">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Clientes</h6>
        <div class="dropdown no-arrow show">
            <button class="btn btn-sm btn-outline-primary">
                <i class="fas fa-plus-circle"></i> Novo
            </button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th style="width:5% !important">Cod</th>
                    <th style="width:50% !important">Nome</th>
                    <th>CPF</th>
                    <th style="width:10% !important"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Cliente 1</td>
                    <td>111.222.000-00</td>
                    <td><button class="btn btn-sm btn-info btn-xs"><i class="fas fa-edit"></i> Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>