
@{
    Layout = null;
}

    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark toggled" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="home" asp-action="index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-parking"></i>
            </div>
            <div class="sidebar-brand-text mx-3">IPark <sup>FIAP</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" asp-controller="home" asp-action="index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>


        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" asp-controller="locatario">
                <i class="far fa-address-card"></i>
                <span>Locatários</span>
            </a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" asp-controller="cliente">
                <i class="fas fa-fw fa-user"></i>
                <span>Clientes</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>